{
  "openapi": "3.0.0",
  "info": {
    "title": "Sales CoPilot API",
    "version": "1.0.0",
    "description": "REST API for Sales CoPilot — an AI-powered presentation platform with narrated slides, live Q&A, and deck management.\n\n**Authentication**: Most endpoints require a session cookie obtained from `POST /api/auth/login`. Presentation playback endpoints (`/api/qa`, `/api/narration/*`) also accept a `presentationId` for unauthenticated viewer access.",
    "contact": {
      "name": "Demand IQ",
      "url": "https://demand-iq.com"
    }
  },
  "servers": [
    {
      "url": "https://app.demand-iq.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development"
    }
  ],
  "tags": [
    { "name": "Decks", "description": "Manage presentation decks" },
    { "name": "Slides", "description": "Manage slides within a deck" },
    { "name": "FAQs", "description": "Manage pre-built Q&A pairs" },
    { "name": "Branding", "description": "Colors, logo, and call-to-action configuration" },
    { "name": "Q&A", "description": "Live question answering and Q&A settings" },
    { "name": "Narration", "description": "Text-to-speech synthesis" },
    { "name": "Presentations", "description": "Create and manage personalized presentation instances" },
    { "name": "Generation", "description": "AI-powered content generation from slide images" },
    { "name": "Images", "description": "Image upload and management" },
    { "name": "Voices", "description": "Available TTS voices" },
    { "name": "Utility", "description": "Health check and diagnostics" },
    { "name": "Authentication", "description": "Session-based login, logout, and identity" },
    { "name": "Company", "description": "Organization contact info and knowledge base" },
    { "name": "Notifications", "description": "Event subscriptions and delivery log" },
    { "name": "Contracts", "description": "Contract template import and e-signature" },
    { "name": "Fonts", "description": "Available Google Fonts for branding" },
    { "name": "Roof Measurements", "description": "Request and track automated roof measurements" },
    { "name": "Actions", "description": "Voice/text command detection for presentation control" },
    { "name": "Appointments", "description": "Appointment scheduling for presentation viewers" }
  ],
  "components": {
    "securitySchemes": {
      "sessionCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "session",
        "description": "Session cookie obtained from `POST /api/auth/login`."
      },
      "presentationToken": {
        "type": "apiKey",
        "in": "header",
        "name": "x-presentation-token",
        "description": "HMAC-signed token scoped to a specific presentation. Obtained from `POST /api/presentations/{presentationId}/events-token`."
      }
    },
    "schemas": {
      "WordTiming": {
        "type": "object",
        "properties": {
          "word": { "type": "string" },
          "startTime": { "type": "number", "description": "Start time in milliseconds" },
          "endTime": { "type": "number", "description": "End time in milliseconds" }
        },
        "required": ["word", "startTime", "endTime"]
      },
      "Deck": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "description": { "type": "string", "nullable": true },
          "type": { "type": "string", "enum": ["structured", "image-based"] },
          "isActive": { "type": "boolean" },
          "metadata": {
            "type": "object",
            "nullable": true,
            "properties": {
              "deckContext": { "type": "string", "description": "Background info used to guide AI narration generation" },
              "voiceProvider": { "type": "string", "enum": ["elevenlabs", "openai"] }
            }
          },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        },
        "required": ["id", "name", "type", "isActive", "createdAt", "updatedAt"]
      },
      "DeckSummary": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "description": { "type": "string", "nullable": true },
          "type": { "type": "string", "enum": ["structured", "image-based"] },
          "isActive": { "type": "boolean" },
          "previewImageUrl": { "type": "string", "format": "uri", "nullable": true, "description": "Presigned URL for the first slide image" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        },
        "required": ["id", "name", "type", "isActive", "createdAt", "updatedAt"]
      },
      "Slide": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "slideId": { "type": "string" },
          "title": { "type": "string" },
          "bullets": { "type": "array", "items": { "type": "string" } },
          "narration_script": { "type": "string" },
          "slide_context": { "type": "string", "nullable": true },
          "audio_url": { "type": "string", "nullable": true, "description": "S3 key for the slide audio file" },
          "hero_img": { "type": "string", "nullable": true, "description": "S3 key for the slide image" },
          "wordTimings": { "type": "array", "items": { "$ref": "#/components/schemas/WordTiming" }, "nullable": true },
          "orderIndex": { "type": "integer" },
          "slideType": { "type": "string", "enum": ["standard", "product_pricing_v1"] }
        },
        "required": ["id", "slideId", "title", "bullets", "narration_script", "orderIndex", "slideType"]
      },
      "BrandingPalette": {
        "type": "object",
        "properties": {
          "primary": { "type": "string", "example": "#1a73e8" },
          "primaryLight": { "type": "string", "example": "#4a9af5" },
          "accent": { "type": "string", "example": "#fbbc04" },
          "neutral": { "type": "string", "example": "#5f6368" },
          "text": { "type": "string", "example": "#202124" },
          "userMessage": { "type": "string", "nullable": true, "description": "Background color for homeowner chat message bubbles. Falls back to primary color if not set.", "example": "#1a73e8" },
          "assistantMessage": { "type": "string", "nullable": true, "description": "Background color for AI assistant chat message bubbles.", "example": "#f1f3f4" }
        },
        "required": ["primary", "primaryLight", "accent", "neutral", "text"]
      },
      "BrandingCta": {
        "type": "object",
        "properties": {
          "headline": { "type": "string" },
          "body": { "type": "string" },
          "buttonText": { "type": "string" },
          "buttonUrl": { "type": "string", "format": "uri" }
        },
        "required": ["headline", "body", "buttonText"]
      },
      "Branding": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "deckId": { "type": "string", "format": "uuid" },
          "name": { "type": "string", "nullable": true },
          "logo": { "type": "string", "nullable": true, "description": "S3 key for logo image" },
          "avatar": { "type": "string", "nullable": true, "description": "S3 key for rep avatar image" },
          "chatName": { "type": "string", "nullable": true },
          "chatGreeting": { "type": "string", "nullable": true },
          "palette": { "$ref": "#/components/schemas/BrandingPalette" },
          "cta": { "$ref": "#/components/schemas/BrandingCta" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        },
        "required": ["id", "deckId", "palette", "cta", "createdAt", "updatedAt"]
      },
      "Faq": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "deckId": { "type": "string", "format": "uuid" },
          "userQuestion": { "type": "string" },
          "cannedAnswer": { "type": "string" },
          "relatedSlideId": { "type": "string", "nullable": true },
          "audioUrl": { "type": "string", "nullable": true, "description": "S3 key for the pre-generated answer audio" },
          "wordTimings": { "type": "array", "items": { "$ref": "#/components/schemas/WordTiming" }, "nullable": true },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        },
        "required": ["id", "deckId", "userQuestion", "cannedAnswer", "createdAt", "updatedAt"]
      },
      "QaSettings": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "deckId": { "type": "string", "format": "uuid" },
          "resumePromptText": { "type": "string", "description": "Spoken prompt asking if the viewer wants to continue the presentation" },
          "resumeAudioUrl": { "type": "string", "nullable": true },
          "resumeVoiceId": { "type": "string", "nullable": true },
          "transitionPromptText": { "type": "string", "description": "Spoken bridge from Q&A back into the presentation" },
          "transitionAudioUrl": { "type": "string", "nullable": true },
          "transitionVoiceId": { "type": "string", "nullable": true }
        },
        "required": ["id", "deckId", "resumePromptText", "transitionPromptText"]
      },
      "HomeownerData": {
        "type": "object",
        "properties": {
          "first_name": { "type": "string" },
          "last_name": { "type": "string" },
          "address": { "type": "string" },
          "city": { "type": "string" },
          "state": { "type": "string" },
          "zip": { "type": "string" },
          "country": { "type": "string", "minLength": 2, "maxLength": 2, "description": "ISO 3166-1 alpha-2 country code", "example": "US" },
          "email": { "type": "string", "format": "email" },
          "phone": { "type": "string" }
        },
        "required": ["first_name", "address", "city", "country"]
      },
      "Presentation": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "deckId": { "type": "string", "format": "uuid" },
          "companyId": { "type": "string", "format": "uuid" },
          "status": { "type": "string", "enum": ["not_started", "pending", "processing", "ready", "failed"] },
          "homeownerData": { "$ref": "#/components/schemas/HomeownerData" },
          "voiceSettings": { "type": "object", "nullable": true },
          "languageSettings": { "type": "object", "nullable": true },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" },
          "deletedAt": { "type": "string", "format": "date-time", "nullable": true }
        },
        "required": ["id", "deckId", "companyId", "status", "createdAt", "updatedAt"]
      },
      "NarrationResponse": {
        "type": "object",
        "properties": {
          "slideId": { "type": "string" },
          "script": { "type": "string" },
          "audioUrl": { "type": "string", "description": "Accessible URL for the synthesized audio" },
          "wordTimings": { "type": "array", "items": { "$ref": "#/components/schemas/WordTiming" } },
          "source": { "type": "string", "enum": ["elevenlabs", "openai", "fallback"] }
        },
        "required": ["slideId", "script", "audioUrl", "source"]
      },
      "QaResponse": {
        "type": "object",
        "properties": {
          "answer": { "type": "string" },
          "audioUrl": { "type": "string", "description": "Accessible URL for the TTS audio of the answer" },
          "wordTimings": { "type": "array", "items": { "$ref": "#/components/schemas/WordTiming" } },
          "source": { "type": "string", "enum": ["faq", "cached", "openai", "fallback"] },
          "relatedSlideId": { "type": "string", "nullable": true },
          "structured": {
            "type": "object",
            "properties": {
              "confidence": { "type": "string" },
              "source": { "type": "string" }
            }
          }
        },
        "required": ["answer", "audioUrl", "source"]
      },
      "GenerationStatus": {
        "type": "object",
        "properties": {
          "jobId": { "type": "string", "format": "uuid" },
          "status": { "type": "string", "enum": ["pending", "processing", "completed", "failed"] },
          "currentSlide": { "type": "integer", "nullable": true },
          "totalSlides": { "type": "integer", "nullable": true },
          "error": { "type": "string", "nullable": true },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        },
        "required": ["jobId", "status", "createdAt", "updatedAt"]
      },
      "Image": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "organizationId": { "type": "string", "format": "uuid" },
          "filename": { "type": "string" },
          "s3Key": { "type": "string" },
          "mimeType": { "type": "string" },
          "size": { "type": "integer", "description": "File size in bytes" },
          "width": { "type": "integer", "nullable": true },
          "height": { "type": "integer", "nullable": true },
          "url": { "type": "string", "format": "uri", "description": "Presigned URL for the image" },
          "createdAt": { "type": "string", "format": "date-time" }
        },
        "required": ["id", "organizationId", "filename", "s3Key", "mimeType", "size", "url", "createdAt"]
      },
      "Voice": {
        "type": "object",
        "properties": {
          "voice_id": { "type": "string" },
          "name": { "type": "string" },
          "category": { "type": "string" },
          "preview_url": { "type": "string", "format": "uri", "nullable": true },
          "labels": { "type": "object", "additionalProperties": { "type": "string" } }
        },
        "required": ["voice_id", "name", "category"]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string" }
        },
        "required": ["error"]
      },
      "User": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "name": { "type": "string" }
        },
        "required": ["id", "email", "name"]
      },
      "Organization": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" }
        },
        "required": ["id", "name"]
      },
      "CompanyContact": {
        "type": "object",
        "properties": {
          "phone": { "type": "string", "nullable": true },
          "email": { "type": "string", "format": "email", "nullable": true },
          "address": { "type": "string", "nullable": true },
          "city": { "type": "string", "nullable": true },
          "state": { "type": "string", "nullable": true },
          "zip": { "type": "string", "nullable": true },
          "licenseNumber": { "type": "string", "nullable": true },
          "timezone": { "type": "string", "nullable": true }
        }
      },
      "KbProfile": {
        "type": "object",
        "properties": {
          "tenantId": { "type": "string", "format": "uuid" },
          "tagline": { "type": "string", "nullable": true },
          "about": { "type": "string", "nullable": true },
          "trustSignals": { "type": "string", "nullable": true },
          "serviceCoverage": { "type": "string", "nullable": true },
          "answerStyle": { "type": "string", "nullable": true }
        }
      },
      "KbDocument": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "tenantId": { "type": "string", "format": "uuid" },
          "filename": { "type": "string" },
          "displayName": { "type": "string", "nullable": true },
          "contentType": { "type": "string" },
          "sizeBytes": { "type": "integer" },
          "status": { "type": "string", "enum": ["uploading", "pending", "processing", "ready", "failed"] },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        },
        "required": ["id", "tenantId", "filename", "contentType", "sizeBytes", "status", "createdAt"]
      },
      "ActionConfig": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "deckId": { "type": "string", "format": "uuid" },
          "actionType": { "type": "string" },
          "templateMarkdown": { "type": "string" },
          "disclosuresMarkdown": { "type": "string", "nullable": true },
          "requirementsJson": { "type": "object", "nullable": true },
          "repName": { "type": "string", "nullable": true },
          "status": { "type": "string", "enum": ["draft", "published"] },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        },
        "required": ["id", "deckId", "actionType", "templateMarkdown", "status", "createdAt", "updatedAt"]
      },
      "IntroConfig": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "deckId": { "type": "string", "format": "uuid" },
          "backgroundImage": { "type": "string", "description": "S3 key or URL for intro background image" },
          "headline": { "type": "string" },
          "subtitle": { "type": "string", "nullable": true },
          "ctaButtonLabel": { "type": "string", "nullable": true }
        },
        "required": ["id", "deckId", "backgroundImage", "headline"]
      },
      "NotificationSubscription": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "organizationId": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "eventType": { "type": "string" },
          "channel": { "type": "string", "enum": ["webhook", "email", "console"] },
          "channelConfig": { "type": "object", "description": "Channel-specific configuration (e.g. URL for webhook, toEmails for email)" },
          "deckId": { "type": "string", "format": "uuid", "nullable": true },
          "isActive": { "type": "boolean" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        },
        "required": ["id", "organizationId", "name", "eventType", "channel", "channelConfig", "isActive", "createdAt", "updatedAt"]
      },
      "EventLogEntry": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "eventType": { "type": "string" },
          "aggregateType": { "type": "string" },
          "aggregateId": { "type": "string" },
          "payload": { "type": "object" },
          "occurredAt": { "type": "string", "format": "date-time" }
        },
        "required": ["id", "eventType", "aggregateType", "aggregateId", "occurredAt"]
      },
      "ProductSlideData": {
        "type": "object",
        "description": "Good/better/best product pricing tiers for a product pricing slide.",
        "properties": {
          "good": { "type": "object", "nullable": true },
          "better": { "type": "object", "nullable": true },
          "best": { "type": "object", "nullable": true },
          "subtitle": { "type": "string", "nullable": true },
          "brandLogo": { "type": "string", "nullable": true },
          "disclaimer": { "type": "string", "nullable": true },
          "defaultSelectedTier": { "type": "string", "enum": ["good", "better", "best"], "nullable": true }
        }
      },
      "Font": {
        "type": "object",
        "properties": {
          "family": { "type": "string", "example": "Inter" },
          "variants": { "type": "array", "items": { "type": "string" } },
          "category": { "type": "string", "example": "sans-serif" }
        },
        "required": ["family", "variants", "category"]
      }
    }
  },
  "paths": {
    "/api/decks": {
      "get": {
        "tags": ["Decks"],
        "summary": "List decks",
        "description": "Returns all decks for the authenticated organization, ordered by most recently created.",
        "security": [{ "sessionCookie": [] }],
        "responses": {
          "200": {
            "description": "List of decks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "decks": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/DeckSummary" }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      },
      "post": {
        "tags": ["Decks"],
        "summary": "Create a deck",
        "security": [{ "sessionCookie": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": { "type": "string" },
                  "description": { "type": "string" },
                  "type": { "type": "string", "enum": ["structured", "image-based"], "default": "structured" },
                  "deckContext": { "type": "string", "description": "Background information to guide AI narration generation (e.g. audience, purpose)" },
                  "voiceProvider": { "type": "string", "enum": ["elevenlabs", "openai"] }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Deck created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deck": { "$ref": "#/components/schemas/Deck" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/api/decks/{deckId}": {
      "get": {
        "tags": ["Decks"],
        "summary": "Get a deck",
        "description": "Returns the full deck including slides, FAQs, branding, and Q&A settings.",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "deckId",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "UUID of the deck"
          }
        ],
        "responses": {
          "200": {
            "description": "Full deck data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deck": { "$ref": "#/components/schemas/Deck" },
                    "slides": { "type": "array", "items": { "$ref": "#/components/schemas/Slide" } },
                    "faqs": { "type": "array", "items": { "$ref": "#/components/schemas/Faq" } },
                    "branding": { "nullable": true, "$ref": "#/components/schemas/Branding" },
                    "qaSettings": { "nullable": true, "$ref": "#/components/schemas/QaSettings" },
                    "presentationsCount": { "type": "integer" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      },
      "put": {
        "tags": ["Decks"],
        "summary": "Update a deck",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "deckId",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "UUID of the deck"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "description": { "type": "string", "nullable": true },
                  "type": { "type": "string", "enum": ["structured", "image-based"] },
                  "isActive": { "type": "boolean" },
                  "deckContext": { "type": "string", "nullable": true }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated deck",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deck": { "$ref": "#/components/schemas/Deck" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      },
      "delete": {
        "tags": ["Decks"],
        "summary": "Delete a deck",
        "description": "Permanently deletes a deck and all associated slides, FAQs, and branding.",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "deckId",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "UUID of the deck"
          }
        ],
        "responses": {
          "200": {
            "description": "Deck deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/api/decks/{deckId}/slides": {
      "get": {
        "tags": ["Slides"],
        "summary": "List slides",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "deckId",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "UUID of the deck"
          }
        ],
        "responses": {
          "200": {
            "description": "Ordered list of slides",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "slides": { "type": "array", "items": { "$ref": "#/components/schemas/Slide" } }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      },
      "post": {
        "tags": ["Slides"],
        "summary": "Create a slide",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "deckId",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "UUID of the deck"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["slideId", "title", "narrationScript"],
                "properties": {
                  "slideId": { "type": "string", "description": "Human-readable identifier (e.g. \"slide-1\")" },
                  "title": { "type": "string" },
                  "bullets": { "type": "array", "items": { "type": "string" } },
                  "narrationScript": { "type": "string" },
                  "slideContext": { "type": "string", "nullable": true },
                  "audioUrl": { "type": "string", "description": "S3 key for pre-recorded audio" },
                  "heroImg": { "type": "string", "nullable": true, "description": "S3 key for slide image" },
                  "orderIndex": { "type": "integer" },
                  "slideType": { "type": "string", "enum": ["standard", "product_pricing_v1"], "default": "standard" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Slide created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "slide": { "$ref": "#/components/schemas/Slide" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/api/decks/{deckId}/slides/reorder": {
      "put": {
        "tags": ["Slides"],
        "summary": "Reorder slides",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "deckId",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "UUID of the deck"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["slideIds"],
                "properties": {
                  "slideIds": {
                    "type": "array",
                    "items": { "type": "string", "format": "uuid" },
                    "description": "Full ordered array of slide UUIDs. Position in array becomes the new orderIndex."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Slides reordered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/api/slides/{slideId}": {
      "put": {
        "tags": ["Slides"],
        "summary": "Update a slide",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "slideId",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "UUID of the slide"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": { "type": "string" },
                  "bullets": { "type": "array", "items": { "type": "string" } },
                  "narrationScript": { "type": "string" },
                  "slideContext": { "type": "string", "nullable": true },
                  "audioUrl": { "type": "string" },
                  "heroImg": { "type": "string", "nullable": true },
                  "orderIndex": { "type": "integer" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated slide",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "slide": { "$ref": "#/components/schemas/Slide" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      },
      "delete": {
        "tags": ["Slides"],
        "summary": "Delete a slide",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "slideId",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "UUID of the slide"
          }
        ],
        "responses": {
          "200": {
            "description": "Slide deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/api/decks/{deckId}/faqs": {
      "get": {
        "tags": ["FAQs"],
        "summary": "List FAQs",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "deckId",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "UUID of the deck"
          }
        ],
        "responses": {
          "200": {
            "description": "FAQs with pre-generated audio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "faqs": { "type": "array", "items": { "$ref": "#/components/schemas/Faq" } }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      },
      "post": {
        "tags": ["FAQs"],
        "summary": "Create a FAQ",
        "description": "Creates a FAQ and automatically generates TTS audio for the answer.",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "deckId",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "UUID of the deck"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["userQuestion", "cannedAnswer"],
                "properties": {
                  "userQuestion": { "type": "string" },
                  "cannedAnswer": { "type": "string" },
                  "relatedSlideId": { "type": "string", "format": "uuid", "nullable": true }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "FAQ created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "faq": { "$ref": "#/components/schemas/Faq" },
                    "warning": { "type": "string", "description": "Present if audio generation failed (FAQ is still saved)" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/api/faqs/{faqId}": {
      "put": {
        "tags": ["FAQs"],
        "summary": "Update a FAQ",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "faqId",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "UUID of the FAQ"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userQuestion": { "type": "string" },
                  "cannedAnswer": { "type": "string" },
                  "relatedSlideId": { "type": "string", "format": "uuid", "nullable": true }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated FAQ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "faq": { "$ref": "#/components/schemas/Faq" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      },
      "delete": {
        "tags": ["FAQs"],
        "summary": "Delete a FAQ",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "faqId",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "UUID of the FAQ"
          }
        ],
        "responses": {
          "200": {
            "description": "FAQ deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/api/decks/{deckId}/branding": {
      "get": {
        "tags": ["Branding"],
        "summary": "Get branding",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "deckId",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "UUID of the deck"
          }
        ],
        "responses": {
          "200": {
            "description": "Branding configuration, or null if not yet set",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "branding": { "nullable": true, "$ref": "#/components/schemas/Branding" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      },
      "put": {
        "tags": ["Branding"],
        "summary": "Upsert branding",
        "description": "Creates or replaces the branding configuration for a deck.",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "deckId",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "UUID of the deck"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["palette", "cta"],
                "properties": {
                  "name": { "type": "string" },
                  "logo": { "type": "string", "nullable": true, "description": "S3 key for logo image" },
                  "avatar": { "type": "string", "nullable": true, "description": "S3 key for rep avatar image" },
                  "chatName": { "type": "string", "nullable": true },
                  "chatGreeting": { "type": "string", "nullable": true },
                  "palette": { "$ref": "#/components/schemas/BrandingPalette" },
                  "cta": { "$ref": "#/components/schemas/BrandingCta" },
                  "fonts": { "type": "object" },
                  "contact": {
                    "type": "object",
                    "properties": {
                      "phone": { "type": "string" },
                      "email": { "type": "string", "format": "email" }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved branding",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "branding": { "$ref": "#/components/schemas/Branding" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/api/decks/{deckId}/qa-settings": {
      "get": {
        "tags": ["Q&A"],
        "summary": "Get Q&A settings",
        "description": "Returns the customizable resume and transition prompts for the deck's Q&A experience.",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "deckId",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "UUID of the deck"
          }
        ],
        "responses": {
          "200": {
            "description": "Q&A settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "qaSettings": { "nullable": true, "$ref": "#/components/schemas/QaSettings" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      },
      "put": {
        "tags": ["Q&A"],
        "summary": "Update Q&A settings",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "deckId",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "UUID of the deck"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resumePromptText": { "type": "string" },
                  "resumeVoiceId": { "type": "string" },
                  "transitionPromptText": { "type": "string" },
                  "transitionVoiceId": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated Q&A settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "qaSettings": { "$ref": "#/components/schemas/QaSettings" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/api/decks/{deckId}/generate": {
      "post": {
        "tags": ["Generation"],
        "summary": "Start AI generation from images",
        "description": "Accepts uploaded slide images, runs them through GPT-4o Vision to extract content, generates narration scripts, and synthesizes audio. Returns a job ID — poll `/api/decks/{deckId}/generate/status` for progress.",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "deckId",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "UUID of the deck"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["images"],
                "properties": {
                  "images": {
                    "type": "array",
                    "items": { "type": "string", "format": "binary" },
                    "description": "Slide images (PNG, JPG, or WebP; max 10 MB each)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId": { "type": "string", "format": "uuid" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/api/decks/{deckId}/generate/status": {
      "get": {
        "tags": ["Generation"],
        "summary": "Poll generation status",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "deckId",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "UUID of the deck"
          }
        ],
        "responses": {
          "200": {
            "description": "Current job status",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenerationStatus" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/api/decks/{deckId}/presentations": {
      "get": {
        "tags": ["Presentations"],
        "summary": "List presentations",
        "description": "Returns all non-deleted presentations created from this deck.",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "deckId",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "UUID of the deck"
          }
        ],
        "responses": {
          "200": {
            "description": "List of presentations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "presentations": { "type": "array", "items": { "$ref": "#/components/schemas/Presentation" } }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      },
      "post": {
        "tags": ["Presentations"],
        "summary": "Create a presentation",
        "description": "Creates a personalized presentation for a homeowner. The address is validated via Google Geocoding. Returns a shareable URL immediately; audio generation may continue in the background.\n\nPrice inputs are optional. If a product pricing slide uses formula variables that are not supplied, the price is deferred — the slide displays a placeholder instead of failing. Deferred prices can be resolved later when the missing values become available (e.g., after roof measurements).",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "deckId",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "UUID of the deck"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["homeowner"],
                "properties": {
                  "homeowner": { "$ref": "#/components/schemas/HomeownerData" },
                  "voice_settings": { "type": "object" },
                  "language_settings": { "type": "object" },
                  "price_inputs": {
                    "type": "object",
                    "additionalProperties": { "type": "number" },
                    "description": "Values for deck-level price variables (used to evaluate formulas). Optional — omitted variables result in deferred pricing rather than an error."
                  },
                  "measurement_strategy": {
                    "type": "string",
                    "enum": ["manual", "auto"],
                    "default": "manual"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Presentation created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deck_presentation_id": { "type": "string", "format": "uuid" },
                    "url": { "type": "string", "format": "uri", "description": "Shareable presentation URL" },
                    "status": { "type": "string", "enum": ["not_started", "pending", "processing", "ready", "failed"] }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/api/presentations/{presentationId}": {
      "patch": {
        "tags": ["Presentations"],
        "summary": "Update a presentation",
        "description": "Partial update for homeowner data, voice settings, language, or price inputs.",
        "parameters": [
          {
            "in": "path",
            "name": "presentationId",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "UUID of the presentation"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "homeownerData": { "type": "object" },
                  "voiceSettings": { "type": "object", "nullable": true },
                  "languageSettings": { "type": "object", "nullable": true },
                  "priceInputs": { "type": "object", "additionalProperties": { "type": "number" } }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Presentation updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string" },
                    "presentationId": { "type": "string", "format": "uuid" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      },
      "delete": {
        "tags": ["Presentations"],
        "summary": "Delete a presentation",
        "description": "Soft-deletes a presentation (sets `deletedAt`). The shareable URL stops working immediately.",
        "parameters": [
          {
            "in": "path",
            "name": "presentationId",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "UUID of the presentation"
          }
        ],
        "responses": {
          "200": {
            "description": "Presentation deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string" },
                    "presentationId": { "type": "string", "format": "uuid" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/api/presentations/{presentationId}/status": {
      "get": {
        "tags": ["Presentations"],
        "summary": "Get presentation status",
        "description": "Returns the current processing status and slide readiness.",
        "parameters": [
          {
            "in": "path",
            "name": "presentationId",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "UUID of the presentation"
          }
        ],
        "responses": {
          "200": {
            "description": "Presentation status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "enum": ["not_started", "pending", "processing", "ready", "failed"] },
                    "slidesReady": { "type": "integer" },
                    "totalSlides": { "type": "integer" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/api/qa": {
      "post": {
        "tags": ["Q&A"],
        "summary": "Answer a question",
        "description": "Answers a viewer question. Checks FAQs first (exact then semantic match at >= 0.6 confidence), falls back to GPT-4o with slide context. Returns answer text plus synthesized audio.\n\n**Authentication**: Accepts either a session cookie (admin) or a `presentationId` (public viewer).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["question", "slideId"],
                "properties": {
                  "question": { "type": "string", "minLength": 3 },
                  "slideId": { "type": "string", "description": "Current slide ID for context" },
                  "deckId": { "type": "string", "format": "uuid" },
                  "presentationId": { "type": "string", "format": "uuid", "description": "Required for unauthenticated viewer access" },
                  "history": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["role", "content"],
                      "properties": {
                        "role": { "type": "string", "enum": ["user", "assistant"] },
                        "content": { "type": "string" }
                      }
                    }
                  },
                  "voiceId": { "type": "string" },
                  "language": { "type": "string", "example": "en", "description": "BCP-47 language tag" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Answer with audio",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/QaResponse" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/api/narration/single": {
      "post": {
        "tags": ["Narration"],
        "summary": "Synthesize narration for one slide",
        "description": "Generates TTS audio for a slide script. Results are cached per session.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["sessionId", "slideId", "script"],
                "properties": {
                  "sessionId": { "type": "string", "description": "Unique session identifier for caching" },
                  "slideId": { "type": "string" },
                  "script": { "type": "string", "minLength": 1 },
                  "voiceId": { "type": "string" },
                  "presentationId": { "type": "string", "format": "uuid", "description": "Required for unauthenticated viewer access" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audio URL and word timings",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NarrationResponse" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/api/narration/batch": {
      "post": {
        "tags": ["Narration"],
        "summary": "Synthesize narration for multiple slides",
        "description": "Batch TTS generation. Per-slide failures return a fallback audio URL rather than failing the whole batch.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["sessionId", "slides"],
                "properties": {
                  "sessionId": { "type": "string" },
                  "slides": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "required": ["slideId", "script"],
                      "properties": {
                        "slideId": { "type": "string" },
                        "script": { "type": "string", "minLength": 1 },
                        "voiceId": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Narration responses for each slide",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cachedIds": { "type": "array", "items": { "type": "string" } },
                    "responses": { "type": "array", "items": { "$ref": "#/components/schemas/NarrationResponse" } }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/api/narration/resume": {
      "post": {
        "tags": ["Narration"],
        "summary": "Synthesize resume narration",
        "description": "Generates the spoken bridge from Q&A back into the presentation, using the deck's configured transition prompt.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deckId": { "type": "string", "format": "uuid" },
                  "presentationId": { "type": "string", "format": "uuid" },
                  "voiceId": { "type": "string" },
                  "language": { "type": "string", "example": "en" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resume narration audio",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NarrationResponse" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "403": {
            "description": "Forbidden",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/api/images": {
      "get": {
        "tags": ["Images"],
        "summary": "List images",
        "description": "Returns all uploaded images for the authenticated organization.",
        "security": [{ "sessionCookie": [] }],
        "responses": {
          "200": {
            "description": "List of images",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "images": { "type": "array", "items": { "$ref": "#/components/schemas/Image" } }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/api/images/upload": {
      "post": {
        "tags": ["Images"],
        "summary": "Upload an image",
        "description": "Uploads and optimizes an image (max 1920px width, JPEG quality 85). Returns the S3 key and a presigned URL.",
        "security": [{ "sessionCookie": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["file"],
                "properties": {
                  "file": { "type": "string", "format": "binary", "description": "Image file (PNG, JPG, or WebP; max 10 MB)" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Uploaded image metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "image": { "$ref": "#/components/schemas/Image" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/api/images/{imageId}": {
      "delete": {
        "tags": ["Images"],
        "summary": "Delete an image",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "imageId",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "UUID of the image"
          }
        ],
        "responses": {
          "200": {
            "description": "Image deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "404": {
            "description": "Not found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/api/voices/list": {
      "get": {
        "tags": ["Voices"],
        "summary": "List available voices",
        "description": "Returns a curated list of voices suitable for sales presentations.",
        "security": [{ "sessionCookie": [] }],
        "responses": {
          "200": {
            "description": "Voice list with preview URLs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "voices": { "type": "array", "items": { "$ref": "#/components/schemas/Voice" } }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "500": {
            "description": "Internal server error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/api/health": {
      "get": {
        "tags": ["Utility"],
        "summary": "Health check",
        "description": "Returns `{ ok: true }` if the service is running.",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Log in",
        "description": "Authenticates with email and password. Returns user and organization info and sets a session cookie. Rate-limited to prevent brute-force attacks.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password"],
                "properties": {
                  "email": { "type": "string", "format": "email", "example": "rep@acmesolar.com" },
                  "password": { "type": "string", "format": "password" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful. A `session` cookie is set on the response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": { "$ref": "#/components/schemas/User" },
                    "organization": { "$ref": "#/components/schemas/Organization" }
                  }
                }
              }
            }
          },
          "400": { "description": "Missing email or password", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "Invalid credentials", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "429": { "description": "Rate limit exceeded", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "description": "Internal server error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Log out",
        "description": "Revokes the current session and clears the session cookie.",
        "security": [{ "sessionCookie": [] }],
        "responses": {
          "200": {
            "description": "Logged out",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "tags": ["Authentication"],
        "summary": "Get current user",
        "description": "Returns the authenticated user's identity and organization.",
        "security": [{ "sessionCookie": [] }],
        "responses": {
          "200": {
            "description": "Current user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": { "$ref": "#/components/schemas/User" },
                    "organization": { "$ref": "#/components/schemas/Organization" }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "description": "Internal server error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/auth/sso": {
      "get": {
        "tags": ["Authentication"],
        "summary": "Portal SSO via auth code exchange",
        "description": "Exchanges a short-lived authorization code for an access token via the Core API, creates a new session, and redirects to the requested path. Used by the portal to embed Sales CoPilot in an iframe.\n\nFlow:\n1. Exchange `code` via Core API `POST /auth/code/exchange` (Basic auth with SSO client credentials)\n2. Validate the returned access token via `/user/me` to get user/org info\n3. Create a new session (always — never reuses an existing one)\n4. Set session cookie (plus embedded cookie if `embedded=1`)\n5. Revoke any prior session (best-effort)\n6. Redirect to a clean URL (no `code` param in the final location)\n\nRedirect URLs use the `APP_URL` environment variable as the canonical base origin when set. This is required for production deployments behind a load balancer where the internal hostname differs from the public URL.",
        "parameters": [
          {
            "in": "query",
            "name": "code",
            "required": true,
            "schema": { "type": "string" },
            "description": "Short-lived authorization code issued by the portal"
          },
          {
            "in": "query",
            "name": "redirect",
            "required": false,
            "schema": { "type": "string", "default": "/decks" },
            "description": "Internal path to redirect to after successful authentication"
          },
          {
            "in": "query",
            "name": "embedded",
            "required": false,
            "schema": { "type": "string", "enum": ["0", "1"], "default": "0" },
            "description": "Set to `1` when running inside a portal iframe. Enables embedded mode cookies and error handling."
          },
          {
            "in": "query",
            "name": "theme",
            "required": false,
            "schema": { "type": "string", "enum": ["light", "dark"] },
            "description": "Portal theme preference. When set, a theme cookie is stored so the initial render matches the portal appearance without a flash."
          }
        ],
        "responses": {
          "302": {
            "description": "Redirects to the `redirect` path on success, or to `/login?error=sso_failed` (standalone) / `/embedded-auth-error` (embedded) on failure. Returns a redirect on missing or invalid code, or Core API rejection."
          }
        }
      }
    },
    "/api/company/contact": {
      "get": {
        "tags": ["Company"],
        "summary": "Get company contact info",
        "description": "Returns the organization's contact details used in contracts and branding.",
        "security": [{ "sessionCookie": [] }],
        "responses": {
          "200": {
            "description": "Company contact",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contact": { "$ref": "#/components/schemas/CompanyContact" },
                    "organizationName": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "description": "Internal server error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      },
      "put": {
        "tags": ["Company"],
        "summary": "Update company contact info",
        "security": [{ "sessionCookie": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CompanyContact" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated contact",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contact": { "$ref": "#/components/schemas/CompanyContact" }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "description": "Internal server error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/company/kb/profile": {
      "get": {
        "tags": ["Company"],
        "summary": "Get knowledge base profile",
        "description": "Returns the company's knowledge base profile that guides how the AI answers customer questions.",
        "security": [{ "sessionCookie": [] }],
        "responses": {
          "200": {
            "description": "KB profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "profile": { "$ref": "#/components/schemas/KbProfile" }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "description": "Internal server error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      },
      "put": {
        "tags": ["Company"],
        "summary": "Update knowledge base profile",
        "description": "Updates the company tagline, about text, trust signals, service coverage, and answer style used by the AI.",
        "security": [{ "sessionCookie": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tagline": { "type": "string" },
                  "about": { "type": "string" },
                  "trustSignals": { "type": "string" },
                  "serviceCoverage": { "type": "string" },
                  "answerStyle": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "profile": { "$ref": "#/components/schemas/KbProfile" }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "description": "Internal server error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/company/kb/documents": {
      "get": {
        "tags": ["Company"],
        "summary": "List knowledge base documents",
        "description": "Returns all uploaded knowledge base documents for the organization, with usage metadata.",
        "security": [{ "sessionCookie": [] }],
        "responses": {
          "200": {
            "description": "KB documents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "documents": { "type": "array", "items": { "$ref": "#/components/schemas/KbDocument" } },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "count": { "type": "integer" },
                        "limit": { "type": "integer" },
                        "remaining": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "description": "Internal server error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/company/kb/documents/upload-init": {
      "post": {
        "tags": ["Company"],
        "summary": "Initiate document upload",
        "description": "Validates the file and returns a presigned S3 URL for direct upload. Call `/api/company/kb/documents/complete` after the upload finishes.",
        "security": [{ "sessionCookie": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["filename", "contentType", "sizeBytes"],
                "properties": {
                  "filename": { "type": "string", "example": "product-guide.pdf" },
                  "contentType": { "type": "string", "example": "application/pdf" },
                  "sizeBytes": { "type": "integer", "example": 1048576 },
                  "displayName": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload initiated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "documentId": { "type": "string", "format": "uuid" },
                    "uploadUrl": { "type": "string", "format": "uri", "description": "Presigned S3 URL for PUT upload" },
                    "storageKey": { "type": "string" },
                    "expiresIn": { "type": "integer", "description": "URL expiry in seconds" }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request (invalid file type, size, or document limit reached)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "description": "Internal server error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/company/kb/documents/complete": {
      "post": {
        "tags": ["Company"],
        "summary": "Complete document upload",
        "description": "Marks a document as uploaded after the client finishes uploading to S3. Triggers background processing (text extraction, chunking, and embedding).",
        "security": [{ "sessionCookie": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["documentId"],
                "properties": {
                  "documentId": { "type": "string", "format": "uuid" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload marked as complete",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "pending" },
                    "documentId": { "type": "string", "format": "uuid" }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "Document not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "description": "Internal server error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/company/kb/documents/{documentId}": {
      "get": {
        "tags": ["Company"],
        "summary": "Get a knowledge base document",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Document details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "document": { "$ref": "#/components/schemas/KbDocument" }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "Not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "description": "Internal server error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      },
      "delete": {
        "tags": ["Company"],
        "summary": "Delete a knowledge base document",
        "description": "Removes the document from S3 and the database. Associated chunks are deleted automatically.",
[...]
